<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="rayshud_installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <rayshud_installer.Properties.Settings>
            <setting name="v_ClassicHUD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v_Scoreboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v_DisguiseImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v_DefaultBG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v_ClassImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v_DamagePos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v_UberAnimation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="v_UberBarColor" serializeAs="String">
                <value>#EBE2CA</value>
            </setting>
            <setting name="v_UberFullColor" serializeAs="String">
                <value>#FF3219</value>
            </setting>
            <setting name="v_UberFlash1" serializeAs="String">
                <value>#FFA500</value>
            </setting>
            <setting name="v_UberFlash2" serializeAs="String">
                <value>#FF4500</value>
            </setting>
            <setting name="v_XHairStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="v_XHairBaseColor" serializeAs="String">
                <value>#F2F2F2</value>
            </setting>
            <setting name="v_XHairPulseColor" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="v_XHairEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v_XHairOutline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v_XHairPulse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v_HealthStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="v_HealthNormal" serializeAs="String">
                <value>#EBE2CA</value>
            </setting>
            <setting name="v_HealingDone" serializeAs="String">
                <value>#30FF30</value>
            </setting>
            <setting name="v_HealthBuff" serializeAs="String">
                <value>#30FF30</value>
            </setting>
            <setting name="v_HealthLow" serializeAs="String">
                <value>#FF9900</value>
            </setting>
            <setting name="v_AmmoClip" serializeAs="String">
                <value>#30FF30</value>
            </setting>
            <setting name="v_AmmoClipLow" serializeAs="String">
                <value>#48FFFF</value>
            </setting>
            <setting name="v_AmmoReserve" serializeAs="String">
                <value>#FF2A82</value>
            </setting>
            <setting name="v_AmmoReserveLow" serializeAs="String">
                <value>#FF801C</value>
            </setting>
            <setting name="v_TeamCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="v_ChatBottom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="app_directory" serializeAs="String">
                <value />
            </setting>
            <setting name="v_XHairSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="app_directory_steam" serializeAs="String">
                <value>Steam\steamapps\common\Team Fortress 2\tf\custom</value>
            </setting>
            <setting name="app_hud_mod_date" serializeAs="String">
                <value />
            </setting>
            <setting name="app_hud_version_local" serializeAs="String">
                <value />
            </setting>
            <setting name="app_hud_readme" serializeAs="String">
                <value>https://raw.githubusercontent.com/raysfire/rayshud/master/README.md</value>
            </setting>
            <setting name="app_hud_version_current" serializeAs="String">
                <value />
            </setting>
            <setting name="error_writer_main_menu" serializeAs="String">
                <value>An error occurred while applying the main menu style setting</value>
            </setting>
            <setting name="error_writer_scoreboard" serializeAs="String">
                <value>An error occurred while applying the scoreboard style setting</value>
            </setting>
            <setting name="error_writer_backgrounds" serializeAs="String">
                <value>An error occurred while applying the default background setting</value>
            </setting>
            <setting name="error_writer_team_select" serializeAs="String">
                <value>An error occurred while applying the team select style setting</value>
            </setting>
            <setting name="error_writer_health_style" serializeAs="String">
                <value>An error occurred while applying the health style setting</value>
            </setting>
            <setting name="error_writer_disguise_image" serializeAs="String">
                <value>An error occurred while applying the disguise image setting</value>
            </setting>
            <setting name="error_writer_uber_animation" serializeAs="String">
                <value>An error occurred while applying the uber animation setting</value>
            </setting>
            <setting name="error_writer_xhair_pulse" serializeAs="String">
                <value>An error occurred while applying the crosshair pulse setting</value>
            </setting>
            <setting name="error_writer_class_image" serializeAs="String">
                <value>An error occurred while applying the class image setting</value>
            </setting>
            <setting name="error_writer_chatbox_pos" serializeAs="String">
                <value>An error occurred while applying the chatbox position setting</value>
            </setting>
            <setting name="error_writer_xhair" serializeAs="String">
                <value>An error occurred while applying the crosshair settings</value>
            </setting>
            <setting name="error_writer_colors" serializeAs="String">
                <value>An error occurred while applying the custom color settings</value>
            </setting>
            <setting name="error_writer_damage_pos" serializeAs="String">
                <value>An error occurred while applying the damage position setting</value>
            </setting>
            <setting name="error_app_save" serializeAs="String">
                <value>An error occurred while saving rayshud settings</value>
            </setting>
            <setting name="error_app_load" serializeAs="String">
                <value>An error occurred while loading rayshud settings</value>
            </setting>
            <setting name="error_app_install" serializeAs="String">
                <value>An error occurred while installing rayshud</value>
            </setting>
            <setting name="error_app_uninstall" serializeAs="String">
                <value>An error occurred while uninstalling rayshud</value>
            </setting>
            <setting name="error_app_reset" serializeAs="String">
                <value>An error occurred while resetting rayshud settings</value>
            </setting>
            <setting name="error_app_version" serializeAs="String">
                <value>An error occurred while checking the rayshud version number</value>
            </setting>
            <setting name="app_directory_base" serializeAs="String">
                <value />
            </setting>
        </rayshud_installer.Properties.Settings>
    </userSettings>
</configuration>