<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="rayshud_installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <rayshud_installer.Properties.Settings>
            <setting name="hud_menu_classic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_scoreboard_minimal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_disguise_image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_default_backgrounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_menu_class_image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_damage_above" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_uber_animation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hud_uber_color_bar" serializeAs="String">
                <value>#EBE2CA</value>
            </setting>
            <setting name="hud_uber_color_full" serializeAs="String">
                <value>#FF3219</value>
            </setting>
            <setting name="hud_uber_color_flash1" serializeAs="String">
                <value>#FFA500</value>
            </setting>
            <setting name="hud_uber_color_flash2" serializeAs="String">
                <value>#FF4500</value>
            </setting>
            <setting name="hud_xhair_style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hud_xhair_color_base" serializeAs="String">
                <value>#F2F2F2</value>
            </setting>
            <setting name="hud_xhair_color_pulse" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="hud_xhair_enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_xhair_outline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_xhair_pulse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_health_style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hud_health_normal" serializeAs="String">
                <value>#EBE2CA</value>
            </setting>
            <setting name="hud_healing_done" serializeAs="String">
                <value>#30FF30</value>
            </setting>
            <setting name="hud_health_buff" serializeAs="String">
                <value>#30FF30</value>
            </setting>
            <setting name="hud_health_low" serializeAs="String">
                <value>#FF9900</value>
            </setting>
            <setting name="hud_ammo_clip" serializeAs="String">
                <value>#30FF30</value>
            </setting>
            <setting name="hud_ammo_clip_low" serializeAs="String">
                <value>#FF2A82</value>
            </setting>
            <setting name="hud_ammo_reserve" serializeAs="String">
                <value>#48FFFF</value>
            </setting>
            <setting name="hud_ammo_reserve_low" serializeAs="String">
                <value>#FF801C</value>
            </setting>
            <setting name="hud_team_class_center" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_chat_bottom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hud_xhair_size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="app_hud_mod_date" serializeAs="String">
                <value />
            </setting>
            <setting name="app_hud_version_local" serializeAs="String">
                <value />
            </setting>
            <setting name="app_hud_readme" serializeAs="String">
                <value>https://raw.githubusercontent.com/raysfire/rayshud/master/README.md</value>
            </setting>
            <setting name="app_hud_version_current" serializeAs="String">
                <value />
            </setting>
            <setting name="app_hud_directory" serializeAs="String">
                <value />
            </setting>
            <setting name="app_hud_download" serializeAs="String">
                <value>https://github.com/raysfire/rayshud/archive/master.zip</value>
            </setting>
            <setting name="app_tf_directory_64" serializeAs="String">
                <value>\Program Files\Steam\steamapps\common\Team Fortress 2\tf\custom</value>
            </setting>
            <setting name="app_tf_directory_32" serializeAs="String">
                <value>\Program Files (x86)\Steam\steamapps\common\Team Fortress 2\tf\custom</value>
            </setting>
        </rayshud_installer.Properties.Settings>
    </userSettings>
</configuration>