<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="rayshud_Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <rayshud_Installer.Properties.Settings>
      <setting name="SentryIO" serializeAs="String">
        <value>https://837bcb9dc43d459daaaf6afbd0f6bcb0@sentry.io/1270434</value>
      </setting>
      <setting name="GitBranch" serializeAs="String">
        <value>master</value>
      </setting>
      <setting name="GitSettings" serializeAs="String">
        <value>https://raw.githubusercontent.com/CriticalFlaw/rayshud-Installer/master/rayshud-Installer/settings.json</value>
      </setting>
      <setting name="GitVersion" serializeAs="String">
        <value>https://raw.githubusercontent.com/raysfire/rayshud/master/README.md</value>
      </setting>
      <setting name="TFDirectory" serializeAs="String">
        <value>Steam\steamapps\common\Team Fortress 2\tf\custom</value>
      </setting>
      <setting name="TempName" serializeAs="String">
        <value>rayshud.zip</value>
      </setting>
      <setting name="SettingsName" serializeAs="String">
        <value>settings.json</value>
      </setting>
      <setting name="SuccessInstall" serializeAs="String">
        <value>rayshud has been installed</value>
      </setting>
      <setting name="SuccessRefresh" serializeAs="String">
        <value>rayshud has been updated</value>
      </setting>
      <setting name="SuccessUpdate" serializeAs="String">
        <value>rayshud settings applied</value>
      </setting>
      <setting name="SuccessRemove" serializeAs="String">
        <value>rayshud has been removed</value>
      </setting>
      <setting name="TFDirectoryNotSet" serializeAs="String">
        <value>tf/custom directory not set! Click the browse button to set it before installing</value>
      </setting>
      <setting name="TFDirectoryNotFound" serializeAs="String">
        <value>Unable to find the tf/custom directory</value>
      </setting>
      <setting name="rayshudNotFound" serializeAs="String">
        <value>Unable to find rayshud in the tf/custom directory</value>
      </setting>
      <setting name="ErrorVersionLocal" serializeAs="String">
        <value>Unable to find the local version number</value>
      </setting>
      <setting name="ErrorVersionLive" serializeAs="String">
        <value>Unable to find the latest version number</value>
      </setting>
      <setting name="ErrorInstall" serializeAs="String">
        <value>An error occurred while attempting to download and install rayshud</value>
      </setting>
      <setting name="ErrorUpdate" serializeAs="String">
        <value>An error occurred while attempting to apply changes to rayshud</value>
      </setting>
      <setting name="ErrorLoad" serializeAs="String">
        <value>An error occurred while loading installer settings</value>
      </setting>
      <setting name="ErrorRemove" serializeAs="String">
        <value>An error occurred while attempting to remove rayshud</value>
      </setting>
      <setting name="InstallerVersion" serializeAs="String">
        <value>https://raw.githubusercontent.com/CriticalFlaw/rayshud-Installer/master/rayshud-Installer/Properties/AssemblyInfo.cs</value>
      </setting>
      <setting name="InstallerUpdate" serializeAs="String">
        <value>A new version of the installer is available on GitHub! Download it here: https://github.com/CriticalFlaw/rayshud-Installer/releases</value>
      </setting>
    </rayshud_Installer.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>