<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="rayshud_Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <rayshud_Installer.Properties.Settings>
        <setting name="SentryIO" serializeAs="String">
            <value>https://e3d4daa2995342d1aaca5827b95fce2d:23548ce9177049f5a1601ceafeb8c609@sentry.io/1190168</value>
        </setting>
        <setting name="GetLiveVersion" serializeAs="String">
            <value>https://raw.githubusercontent.com/raysfire/rayshud/installer/README.md</value>
        </setting>
        <setting name="ErrorLiveVersion" serializeAs="String">
            <value>Unable to find the latest version number.</value>
        </setting>
        <setting name="TempFileName" serializeAs="String">
            <value>TempHUD</value>
        </setting>
        <setting name="TFDirectory" serializeAs="String">
            <value>Steam\\steamapps\\common\\Team Fortress 2\\tf\\custom</value>
        </setting>
        <setting name="UserShowDirectory" serializeAs="String">
            <value>Please select your tf/custom folder. Example:</value>
        </setting>
        <setting name="ErrorApplyChanges" serializeAs="String">
            <value>An error occurred while applying installer changes to rayshud</value>
        </setting>
        <setting name="ErrorInstallMessage" serializeAs="String">
            <value>An error occurred while attempting to download rayshud</value>
        </setting>
        <setting name="SuccessInstallMessage" serializeAs="String">
            <value>Done installing rayshud</value>
        </setting>
        <setting name="SuccessUpdateMessage" serializeAs="String">
            <value>Done updating rayshud</value>
        </setting>
        <setting name="TFDirectoryValidation" serializeAs="String">
            <value>Steam\\steamapps\\common\\Team Fortress 2\\tf\\custom</value>
        </setting>
        <setting name="SuccessApplyChanges" serializeAs="String">
            <value>rayshud settings saved and applied</value>
        </setting>
        <setting name="FilePlayerHealth" serializeAs="String">
            <value>HudPlayerHealth</value>
        </setting>
        <setting name="SuccessUninstallMessage" serializeAs="String">
            <value>Done uninstalling rayshud</value>
        </setting>
        <setting name="WarningUninstallMessage" serializeAs="String">
            <value>rayshud was not found in the tf/custom directory</value>
        </setting>
        <setting name="ErrorUninstallMessage" serializeAs="String">
            <value>An error occurred while attempting to remove rayshud</value>
        </setting>
        <setting name="TFDirectoryNotSet" serializeAs="String">
            <value>tf/custom directory not set! Click the browse button to set it before using the installer</value>
        </setting>
        <setting name="TFDirectoryNotFound" serializeAs="String">
            <value>Unable to find the tf/custom directory</value>
        </setting>
        <setting name="ErrorTFDirectory" serializeAs="String">
            <value>An error occurred while verifying rayshud version numbers</value>
        </setting>
        <setting name="ErrorLoadConfiguration" serializeAs="String">
            <value>An error occured while loading configuration settings</value>
        </setting>
        <setting name="GitBranch" serializeAs="String">
            <value>installer</value>
        </setting>
        <setting name="FileClassSelection" serializeAs="String">
            <value>ClassSelection</value>
        </setting>
        <setting name="FileTeamMenu" serializeAs="String">
            <value>TeamMenu</value>
        </setting>
        <setting name="FileChapterBackgrounds" serializeAs="String">
            <value>chapterbackgrounds</value>
        </setting>
        <setting name="FileScoreboard" serializeAs="String">
            <value>scoreboard</value>
        </setting>
    </rayshud_Installer.Properties.Settings>
  </userSettings>
</configuration>