<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="rayshud_Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <rayshud_Installer.Properties.Settings>
      <setting name="sentry_io_key" serializeAs="String">
        <value>https://837bcb9dc43d459daaaf6afbd0f6bcb0@sentry.io/1270434</value>
      </setting>
      <setting name="git_hud_readme" serializeAs="String">
        <value>https://raw.githubusercontent.com/raysfire/rayshud/master/README.md</value>
      </setting>
      <setting name="directory_base" serializeAs="String">
        <value>Steam\steamapps\common\Team Fortress 2\tf\custom</value>
      </setting>
      <setting name="temp_name" serializeAs="String">
        <value>rayshud.zip</value>
      </setting>
      <setting name="msg_installed" serializeAs="String">
        <value>rayshud has been installed</value>
      </setting>
      <setting name="msg_refreshed" serializeAs="String">
        <value>rayshud has been updated</value>
      </setting>
      <setting name="msg_updateed" serializeAs="String">
        <value>rayshud settings applied</value>
      </setting>
      <setting name="msg_removeed" serializeAs="String">
        <value>rayshud has been removed</value>
      </setting>
      <setting name="directory_not_set" serializeAs="String">
        <value>tf/custom directory not set! Click the browse button to set it before installing</value>
      </setting>
      <setting name="directory_not_found_hud" serializeAs="String">
        <value>Unable to find the tf/custom directory</value>
      </setting>
      <setting name="directory_not_found" serializeAs="String">
        <value>Unable to find rayshud in the tf/custom directory</value>
      </setting>
      <setting name="error_version_local" serializeAs="String">
        <value>Unable to find the local version number</value>
      </setting>
      <setting name="error_version_live" serializeAs="String">
        <value>Unable to find the latest version number</value>
      </setting>
      <setting name="error_install" serializeAs="String">
        <value>An error occurred while attempting to download and install rayshud</value>
      </setting>
      <setting name="error_update" serializeAs="String">
        <value>An error occurred while attempting to apply changes to rayshud</value>
      </setting>
      <setting name="error_load" serializeAs="String">
        <value>An error occurred while loading installer settings</value>
      </setting>
      <setting name="error_remove" serializeAs="String">
        <value>An error occurred while attempting to remove rayshud</value>
      </setting>
      <setting name="git_installer_version" serializeAs="String">
        <value>https://raw.githubusercontent.com/CriticalFlaw/rayshud-Installer/master/rayshud-Installer/Properties/AssemblyInfo.cs</value>
      </setting>
      <setting name="msg_update_installer" serializeAs="String">
        <value>A new version of the installer is available on GitHub! Download it here: https://github.com/CriticalFlaw/rayshud-Installer/releases</value>
      </setting>
      <setting name="v_HUDVersion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v_Scoreboard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v_ChatBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v_TeamSelect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v_DisguiseImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v_DefaultMenuBG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v_MenuClassImages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v_DamageValuePos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v_UberAnimation" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="v_UberBarColor" serializeAs="String">
        <value>235 226 202 255</value>
      </setting>
      <setting name="v_UberFullColor" serializeAs="String">
        <value>255 50 255 255</value>
      </setting>
      <setting name="v_UberFlashColor1" serializeAs="String">
        <value>255 165 0 255</value>
      </setting>
      <setting name="v_UberFlashColor2" serializeAs="String">
        <value>255 69 0 255</value>
      </setting>
      <setting name="v_XHairEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v_XHairStyle" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="v_XHairOutline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v_XHairPulse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="v_XHairSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="v_XHairColor" serializeAs="String">
        <value>242 242 242 255</value>
      </setting>
      <setting name="v_XHairPulseColor" serializeAs="String">
        <value>255 0 0 255</value>
      </setting>
      <setting name="v_HealingDone" serializeAs="String">
        <value>48 255 48 255</value>
      </setting>
      <setting name="v_HealthStyle" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="v_HealthNormal" serializeAs="String">
        <value>235 226 202 255</value>
      </setting>
      <setting name="v_HealthBuff" serializeAs="String">
        <value>48 255 48 255</value>
      </setting>
      <setting name="v_HealthLow" serializeAs="String">
        <value>255 153 0 255</value>
      </setting>
      <setting name="v_AmmoClip" serializeAs="String">
        <value>48 255 48 255</value>
      </setting>
      <setting name="v_AmmoClipLow" serializeAs="String">
        <value>255 42 130 255</value>
      </setting>
      <setting name="v_AmmoReserve" serializeAs="String">
        <value>72 255 255 255</value>
      </setting>
      <setting name="v_AmmoReserveLow" serializeAs="String">
        <value>255 128 28 255</value>
      </setting>
      <setting name="v_TF2Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="v_LastModified" serializeAs="String">
        <value />
      </setting>
    </rayshud_Installer.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>