<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="rayshud_installer.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="rayshud_installer.Properties.rayshud"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <rayshud_installer.Properties.Settings>
      <setting name="hud_updated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_xhair_pulse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_xhair_outline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_xhair_enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_stock_backgrounds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_min_scoreboard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="val_xhair_size" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="color_ammo_reserve" serializeAs="String">
        <value>#48FFFF</value>
      </setting>
      <setting name="color_uber_full" serializeAs="String">
        <value>#FF3219</value>
      </setting>
      <setting name="color_xhair_normal" serializeAs="String">
        <value>#F2F2F2</value>
      </setting>
      <setting name="val_xhair_style" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="val_health_style" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="color_uber_flash1" serializeAs="String">
        <value>#FFA500</value>
      </setting>
      <setting name="color_ammo_clip_low" serializeAs="String">
        <value>#FF2A82</value>
      </setting>
      <setting name="toggle_classic_menu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_chat_bottom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_disguise_image" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_center_select" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="color_health_normal" serializeAs="String">
        <value>#EBE2CA</value>
      </setting>
      <setting name="color_uber_flash2" serializeAs="String">
        <value>#FF4500</value>
      </setting>
      <setting name="color_xhair_pulse" serializeAs="String">
        <value>#FF0000</value>
      </setting>
      <setting name="color_uber_bar" serializeAs="String">
        <value>#EBE2CA</value>
      </setting>
      <setting name="color_health_low" serializeAs="String">
        <value>#FF9900</value>
      </setting>
      <setting name="color_health_healed" serializeAs="String">
        <value>#30FF30</value>
      </setting>
      <setting name="color_health_buffed" serializeAs="String">
        <value>#30FF30</value>
      </setting>
      <setting name="color_ammo_reserve_low" serializeAs="String">
        <value>#FF801C</value>
      </setting>
      <setting name="toggle_damage_pos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_menu_images" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="val_uber_animation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="color_ammo_clip" serializeAs="String">
        <value>#30FF30</value>
      </setting>
      <setting name="hud_mod_date" serializeAs="String">
        <value>04/07/2020 17:28:00</value>
      </setting>
      <setting name="hud_directory" serializeAs="String">
        <value>\Program Files\Steam\steamapps\common\Team Fortress 2\tf\custom</value>
      </setting>
      <setting name="toggle_transparent_viewmodels" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_alt_player_model" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="val_xhair_x" serializeAs="String">
        <value>103</value>
      </setting>
      <setting name="val_xhair_y" serializeAs="String">
        <value>100</value>
      </setting>
    </rayshud_installer.Properties.Settings>
    <rayshud_installer.Properties.rayshud>
      <setting name="hud_updated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_xhair_pulse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_xhair_outline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_xhair_enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_stock_backgrounds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_min_scoreboard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="val_xhair_size" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="color_ammo_reserve" serializeAs="String">
        <value>#48FFFF</value>
      </setting>
      <setting name="color_uber_full" serializeAs="String">
        <value>#FF3219</value>
      </setting>
      <setting name="color_xhair_normal" serializeAs="String">
        <value>#F2F2F2</value>
      </setting>
      <setting name="val_xhair_style" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="val_health_style" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="color_uber_flash1" serializeAs="String">
        <value>#FFA500</value>
      </setting>
      <setting name="color_ammo_clip_low" serializeAs="String">
        <value>#FF2A82</value>
      </setting>
      <setting name="toggle_classic_menu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_chat_bottom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_disguise_image" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_center_select" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="color_health_normal" serializeAs="String">
        <value>#EBE2CA</value>
      </setting>
      <setting name="color_uber_flash2" serializeAs="String">
        <value>#FF4500</value>
      </setting>
      <setting name="color_xhair_pulse" serializeAs="String">
        <value>#FF0000</value>
      </setting>
      <setting name="color_uber_bar" serializeAs="String">
        <value>#EBE2CA</value>
      </setting>
      <setting name="color_health_low" serializeAs="String">
        <value>#FF9900</value>
      </setting>
      <setting name="color_health_healed" serializeAs="String">
        <value>#30FF30</value>
      </setting>
      <setting name="color_health_buffed" serializeAs="String">
        <value>#30FF30</value>
      </setting>
      <setting name="color_ammo_reserve_low" serializeAs="String">
        <value>#FF801C</value>
      </setting>
      <setting name="toggle_damage_pos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_menu_images" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="val_uber_animation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="color_ammo_clip" serializeAs="String">
        <value>#30FF30</value>
      </setting>
      <setting name="hud_mod_date" serializeAs="String">
        <value>07/28/2019 15:30:00</value>
      </setting>
      <setting name="hud_directory" serializeAs="String">
        <value>\Program Files\Steam\steamapps\common\Team Fortress 2\tf\custom</value>
      </setting>
      <setting name="toggle_transparent_viewmodels" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="toggle_alt_player_model" serializeAs="String">
        <value>False</value>
      </setting>
    </rayshud_installer.Properties.rayshud>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>